{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "pages": "./src/pages"
      },
      "extensions": [".ts", ".tsx"]
    }]
  ]
}
